EXPO_PUBLIC_API_URL=https://backend-prepod.smaketsolutions.com
EXPO_PUBLIC_MQTT_BROKER=wss://no-counter.smaketsolutions.com:9002
EXPO_PUBLIC_MQTT_TOPICS=SMDEV-001p,SMDEV-002p,SMDEV-003p
EXPO_PUBLIC_MQTT_USERNAME=smaket
EXPO_PUBLIC_MQTT_PASSWORD=smaket123
